doctype html
html(lang="pt-br" manifest="simone.appcache")

  head
    //- style
    //- ===========================================
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css")
    link(rel="stylesheet" href="assets/styles/main.css")
    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" )
    include includes/custom-style.html

    //- meta
    //- ===========================================
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")

    link(rel="icon" href="assets/img/favicon.png")

    //- Variables
    //- ===========================================
    - var title = "Simone Amorim | CSS Evangelist and Front-end Developer"
    - var description = "I'm Simone Amorim , mother and studing for become a Front-End Developer and CSS Evangelist I'm passionate for running and ride a bike. Love to learn new things and share knowlege in the my free time I like to code, hear to music, watch series and other cool things."
    - var url = "https://simoneas02.github.io/"
    - var image = "https://simoneas02.github.io/assets/img/profile-picture.jpg"

    //- Open graph
    //- ===========================================
    meta(property="og:type" content="website")
    meta(property="og:title" content=title)
    meta(property="og:description" content=description)
    meta(property="og:url" content=url)
    meta(property="og:image" content=image)

    //- Twitter cards
    //- ===========================================
    meta(name="twitter:card" content="summary_large_image")
    meta(name="twitter:title" content=title)
    meta(name="twitter:description" content=description)
    meta(name="twitter:url" content=url)
    meta(name="twitter:image" content=image)

    //- Polyfill
    //- ===========================================
    script(src="assets/scripts/webcomponents.min.js")

    //- Web Components
    //- ===========================================
    link(rel="import" href="../bower_components/made-with-heart/made-with-heart.html")
    link(rel="import" href="../bower_components/github-corner/github-corner.html")

    //- SEO
    //- ===========================================
    meta(name="description" content=description)
    title=title

  body
    github-corner(href="https://github.com/simoneas02/simoneas02.github.io")

    header(class="header")
      img(class="profile-picture" alt="Simone Amorim" src="assets/img/profile-picture.jpg")

      h1(class="heading-lv1") &lt; <span class="heading-highlight">Hello World </span>/&gt;

      p(class="text") I'm <strong class="bold">Simone Amorim </strong>, WWcode Leader, mother, <strong class="bold">Front-End </strong>Developer and <strong class="bold">CSS Evangelist. </strong> I'm passionate for <strong class="bold">running </strong>and ride a <strong class="bold">bike.</strong> Love to learn new things and share knowledge, in the my free time I like <strong class="bold">to code,</strong> hear to music, watch series and other <strong class="bold">cool things</strong>.

      ul(class="icons-list")

        li(class="icon-item")
          a(class="icon-link" href="https://github.com/simoneas02" target="_blank")
            include includes/icon-github.html

        li(class="icon-item")
          a(class="icon-link" href="https://twitter.com/samorim02" target="_blank")
            include includes/icon-twitter.html

        li(class="icon-item")
          a(class="icon-link" href="https://www.linkedin.com/in/simone-amorim-311a3a87?trk=nav_responsive_tab_profile_pic" target="_blank")
            include includes/icon-linkedin.html

        //- li(class="icon-item")
        //-   a(class="icon-link" href="http://codepen.io/simoneas02/" target="_blank")
        //-     img(class="icon-svg" src="#" alt="Codepen")

    footer(class="footer")
      made-with-heart(href="https://simoneas02.github.io/") Simone Amorim

    //- script(type="text/javascript" src="assets/scripts/index.js")
    
    //- Google Analytics
    //- ===========================================
    include includes/google-analytics.html